<!DOCTYPE html>

<html>
{% load static %}
<head>

    <meta charset="utf-8"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/styles.css' %}"/>

    <title>Корзина</title>

</head>

<body class="flex-column">

<main class="fablab-cart main">
    <section class="header">
        <a href="{% url 'index' %}">
            <h2 class="title">FabLab Moscow</h2>
        </a>
    </section>

    <section class="subheader-group">
        <div class="subheader-group1">
            <div class="stick"></div>
            <h2 class="subtitle">Корзина</h2>
            <div class="name-input">
                <div class="name">
                    {% if printing.name %}
                        {{ printing.name }}
                    {% else %}
                        Введите ФИО
                    {% endif %}
                </div>
            </div>
        </div>
    </section>

    <section class="cards-section">
        <div class="flex-col">
            {% for job in jobs %}
                <div class="cart-card">
                    <div class="flex-row">
                        <img class="image"
                             src="{{ job.image }}"
                             alt="alt text"/>
                        <div class="flex_row">
                            <div class="flex_col">
                                <h2 class="card-title">{{ job.name }}</h2>
                                <h2 class="cart-price">Цена: {{ job.price }}
                                    руб</h2>
                            </div>
                            <div class="flex_col1">
                                <div class="number-input">
                                    <h3 class="medium_title1">{{ job.quantity }}</h3>
                                </div>
                                <h3 class="number-text">Кол-во</h3>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <form method="POST" action="{% url 'delete_printing' printing.id %}">
            {% csrf_token %}
            <button type="submit" class="delete-button">Удалить</button>
        </form>
    </section>

    <section class="footer">
        <p class="footer-text">FabLab Moscow - лаборатория цифрового
            производства с передовым оборудованием и технологиями в области 3D
            моделирования и электроники.</p>
    </section>

</main>

</body>

</html>