<!DOCTYPE html>
<html>
{% load static %}
<head>

    <meta charset="utf-8"/>

    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no"/>


    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/common.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/fonts.css' %}"/>
    <link rel="stylesheet" type="text/css"
          href="{% static 'styles/styles.css' %}"/>

    <title>FabLab Moscow</title>

</head>

<body class="flex-column">

<main class="fablab-index main">
    <section class="header">
        <a href="{% url 'index' %}">
            <h2 class="title">FabLab Moscow</h2>
        </a>
    </section>

    <section class="subheader">
        <div class="flex-row">
            <div class="stick"></div>
            <h2 class="subtitle">Заявки на печать</h2>
        </div>
    </section>

    <section class="table-section">
        <div class="table-container">
            <table class="printings-table">
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Автор</th>
                        <th>Модератор</th>
                        <th>Статус</th>
                        <th>Дата формирования</th>
                        <th>Дата завершения</th>
                        <th>Стоимость</th>
                    </tr>
                </thead>
                <tbody>
                    {% for printing in printings %}
                        <tr>
                            <td>{{ printing.name }}</td>
                            <td>{{ printing.author }}</td>
                            <td>{{ printing.moderator }}</td>
                            <td>{{ printing.status }}</td>
                            <td>{{ printing.formed_at }}</td>
                            <td>{{ printing.complete_at }}</td>
                            <td>{{ printing.total_price }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>

    <section class="footer">
        <p class="footer-text">FabLab Moscow - лаборатория цифрового
            производства с передовым оборудованием и технологиями в области 3D
            моделирования и электроники.</p>
    </section>

</main>

</body>
</html>
